[tool.poetry]
name = "aws-org-tree"
version = "0.1.0"
description = ""
authors = ["Iain Samuel McLean Elder <iain@isme.es>"]

[tool.poetry.scripts]
aws-org-tree = "aws_org_tree:main"

[tool.poetry.dependencies]
python = ">=3.7,<4"
boto3 = "^1.18.50"
anytree = "^2.8.0"
logdecorator = "^2.2"
boto-collator-client = "^0.1.1"

[tool.poetry.dev-dependencies]
ipython = "^7.28.0"
ipdb = "^0.13.9"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
